# the url of the website
DEPLOYMENT_URL=

# authentication service (https://kinde.com/)
# values from Kinde dashboard
KINDE_CLIENT_ID=
KINDE_CLIENT_SECRET=
KINDE_ISSUER_URL=
# URLs of the app
KINDE_SITE_URL=
KINDE_POST_LOGOUT_REDIRECT_URL=
KINDE_POST_LOGIN_REDIRECT_URL=

# Database URL
DATABASE_URL=

# File Uploading service (https://uploadthing.com/)
UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

# indexing service (https://pinecone.io/)
PINECONE_API_KEY=

# Embeddings models
# dont forget to adjust the pinecone dimensions to match the selected model
# uncomment only one of the following lines to select the desired model and add the corresponding key
# OPENAI_API_KEY=
# MISTRAL_API_KEY=
# HUGGINGFACEHUB_API_KEY=

# Chat service
# uncomment only one of the following lines to select the desired chat service and add the corresponding key
# OPENAI_CHAT_API_KEY=
# MISTRAL_API_KEY=

# Payment service (https://stripe.com/)
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=